body {
  background-image: url(../src/—Pngtree—scene\ with\ geometrical\ forms\ the_1247634.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
